@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #434371;
    --secondary-color: #f4f4f4;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-color);
    background: var(--primary-color);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-width: 768px;
}

header {
    width: 100%;
}

/* Navbar */
.navbar {
    background: #171727;
    color: var(--secondary-color);
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 1rem;
}

.navbar a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar a:hover {
    color: var(--primary-color);
}

a.link-text {
    font-size: 0.9rem;
}

/* Showcase */
.showcase {
    height: 400px;
    width: 100%;
    background: var(--primary-color);
}

.showcase h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem 0;
}

.showcase form {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.showcase form input,
form select {
    font-size: 16px;
    width: 500px;
    max-width: 500px;
    padding: 1rem;
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    margin-bottom: 1rem;
}

form button {
    font-size: 20px;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    background: #262640;
    color: var(--secondary-color);
    cursor: pointer;
    margin-top: 20px;
}

form button:hover {
    transform: scale(1.1);
}

.description-text {
    width: 50%;
    margin: auto;
    font-size: 1rem;
    line-height: 1.7;
    text-align: center;
    margin-top: 2rem;
}

/* Image */

.image {
    width: 100%;
    margin-top: 0.5rem;
}

img {
    display: block;
    margin: auto;
}

.msg {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 1rem;
}

/* Media Queries */
@media (max-width: 768px) {
    .description-text {
        width: 90%;
        margin: auto;

        margin-top: 2rem;
    }
}
